.footer
	padding-top: 108px
	padding-bottom: 46px
	background-color: $dark
	&-content
		// border: 4px solid white
		display: grid
		grid-template-columns: 1110px
		grid-template-rows: 223px 317px
		row-gap: 90px
		&-first
			// border: 3px solid green
			display: grid
			grid-template-columns: 166px 200px 293px 230px
			grid-template-rows: 218px
			// column-gap: 100px
			justify-content: space-between
			&__logo
				margin-top: 59px
			&__categories
				&_descr
					list-style-type: none
					color: inherit
					text-decoration: none
					font-style: normal
					font-weight: 400
					font-size: 14px
					line-height: 160%
					color: #BDBDBD

			&__logo
			&__categories_title
				padding: 0
				margin: 0
				padding-bottom: 20px
				font-style: normal
				font-weight: 700
				font-size: 18px
				line-height: 23px
				color: #FFFFFF
				text-transform: uppercase
				&_social
					padding: 0
					margin: 0
					font-style: normal
					font-weight: 700
					font-size: 18px
					line-height: 23px
					color: #FFFFFF
					text-transform: uppercase
					display: inline
					&_block
						display: flex
						justify-content: space-between
						align-items: center
						padding-top: 20px
